.how-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 16px;
}

.how-header {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.04em;
  text-align: center;
  color: white;
  margin: 24px 0;
}

.how-header-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  color: white;
  max-width: 520px;
  margin-bottom: 24px;
  box-shadow: 0px 4px 70px 0px #0000001a;
}

.step-wrapper {
  display: flex;
  gap: 24px;
  margin: 24px 0;
}

.step-container {
  background-color: white;
  display: flex;
  padding: 26px 14px;
  border-radius: 12px;
  align-items: center;
  gap: 16px;
}

.step-button {
  padding: 15px 24px;
  border-radius: 999px;
  color: white;
}

.step-content {
  max-width: 200px;
  font-size: 14px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: left;
}

.step-button.first {
  background-color: #ae1332;
}

.step-button.second {
  background-color: #a1c864;
}

.step-button.third {
  background-color: #f5ce13;
}

.gif-container {
  max-width: 860px;
  height: 476px;
  margin: 24px 0;
}

.fruit-gif {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
  .step-wrapper {
    flex-direction: column;
  }

  .step-container {
    max-width: 389px;
  }
}

@media (max-width: 375px) {
  .how-header {
    font-size: 28px;
    line-height: 28px;
  }

  .break-point {
    display: none;
  }

  .step-button {
    font-size: 12px;
    padding: 15px 20px;
  }

  .step-content {
    max-width: 160px;
  }
}
