.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.fruits-section {
    background-color: #AE1332;
    padding-bottom: 150px;
    color: #FFF;
}

.fruits-section-header {
    text-align: center;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
}

.fruits-section-description {
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
}

.list {
    list-style-type: none;
    gap: 24px;
    align-items: center;
    justify-content: center;    
    margin-top: 44px;
    margin-bottom: 44px;
    padding-inline: 32px;
}

.fruits-section-item {
    width: 389px;
    border-radius: 20px;
    flex-shrink: 0;
}

.item-description {
    margin-left: 24px;
}

.fruit-name {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -1.28px;
    margin-top: 64px;
    margin-bottom: 0;
}

.fruit-description {
    margin-top: 7px;
    margin-bottom: 4px;
}

.fruits-section-image {
    margin-left: 47px;
    margin-right: 47px;
}

.fruits-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 48px;
    color: #AE1332;
    background-color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.72px;
    border-radius: 200px; 
    margin-top: 0; 
    margin-left: 24px;
    margin-bottom: 24px; 
}

.strawberry {
    background-color: #F8766B;
}

.banana {
    background-color: #EDD251;
}

.watermelon {
    background-color: #9DC262;
}

.lime {
    background-color: #BFD663;
}

.apple {
    background-color: #E93F29;
}

.peach {
    background-color: #DB4F4B;
}

.plum {
    background-color: #9B5366;
}

.orange {
    background-color: #F47F4C;
}

.kiwi {
    background-color: #98B37E;
}

.order-button {
    display: flex;
    background-color: #9DC262;
    padding: 38px 18px;
    font-family: inherit;
    color: #FFFFFF;
    fill: #FFFFFF;
    border-radius: 100%;
    border-color: transparent;
    margin: auto;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.72px;
    justify-content: center;
    align-items: center;
    transform: rotate(-20deg);
}

.button-svg {
    margin-right: 4px;
}

.order-button:hover, .order-button:focus {
    cursor: pointer;
    fill: #9DC262;
    color: #9DC262;
    background-color: #FFF;
}

// MODAL STYLING
// ORDER FORM MODAL STYLES

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal {
    background-color: #FFF;
    width: 891px;
    border-radius: 20px;
    position: sticky;
    top: 5px;
    align-items: center;
    justify-content: center;
}

.order-close-button {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    right: 20px;
    top: 20px;
}

.order-modal-header {
    color: #AE1332;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    padding-left: 40px;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.fruits-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.select-checkbox {
    opacity: 0;
    display: block;
    position: absolute;
    top: 14px;
    right: 14px;
    height: 20px;
    width: 20px;
    z-index: 1;
}

.check-select {
    fill: none;
    border: 3px solid #FFF;
    border-radius: 4px;
    position: absolute;
    top: 14px;
    right: 14px;
    transition: 250ms;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fruits-select .select-checkbox:checked + .check-select {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 0.2;
  }

.fruits-menu-name {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.96px;
    margin-bottom: 0;
    padding-top: 40px;
}

.fruits-menu-description {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    padding-top: 8px;
    margin: 0;
}

.fruits-menu-name, .fruits-menu-description {
    padding-left: 20px;
}

.strawberry-basket-image {
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 14px;
}

.strawberry-basket {
    width: 257px;
    background-color: #F8766B;
    position: relative;
    border-radius: 20px;
}

.apples-basket {
    width: 257px;
    background-color: #EDD251;
    position: relative;
    border-radius: 20px;
}

.apples-basket-image {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
}

.fruits-basket {
    width: 257px;
    background-color: #9DC262;
    position: relative;
    border-radius: 20px;
}

.fruits-basket-image {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
}

.service-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    position: relative;
    left: 40px;
    margin-top: 0;
  }

.service-input-textarea {
    width: 360px;
    border-radius: 100px;
    border: 1px solid #000;
    opacity: 0.3;
    padding: 15px 24px;
    color: #000;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
  }

  .comment-input {
    width: 360px;
    border-radius: 20px;
    border: 1px solid #000;
    opacity: 0.3;
    padding: 15px 24px;
    color: #000;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
  }

  .banana-girl {
    position: absolute;
    bottom: 0px;
    right: 0;
  }

  .submit-button {
    border-radius: 100px;
    background: #9DC162;
    border-color: transparent;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    padding: 15px 35px;
    margin-left: 40px;
    margin-bottom: 55px;
  }

  .submit-button:hover, .submit-button:focus {
    cursor: pointer;
    border: 2px solid #9DC162;
    background-color: #FFFFFF;
    color: #9DC162;
  }
// RESPONSIVENESS
// TABLET

@media screen and (max-width: 768px) {
    .container {
        width: 767px;
    }

    .fruits-section-item {
        flex-basis: calc(100% / 2 - 16px);
        width: 340px;
    }

    .fruits-section-image {
        margin-left: 24px;
        margin-right: 24px;
    }

    .kiwi {
        display: none;
    }
}

// MOBILE

@media screen and (max-width: 375px) {
    .container {
        width: 374px;
    }

    .fruits-section-item {
        width: 325px;
    }

    .fruits-section-image {
        margin-left: 20px;
        margin-right: 20px;
    }

    .plum, .orange {
       display: none; 
    }
}
