.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.fruits-section {
    background-color: #AE1332;
    padding-bottom: 150px;
    color: #FFF;
}

.fruits-section-header {
    text-align: center;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
}

.fruits-section-description {
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
}

.list {
    list-style-type: none;
    gap: 24px;
    align-items: center;
    justify-content: center;    
    margin-top: 44px;
    margin-bottom: 44px;
    padding-inline: 32px;
}

.fruits-section-item {
    width: 389px;
    border-radius: 20px;
    flex-shrink: 0;
}

.item-description {
    margin-left: 24px;
}

.fruit-name {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -1.28px;
    margin-top: 64px;
    margin-bottom: 0;
}

.fruit-description {
    margin-top: 7px;
    margin-bottom: 4px;
}

.fruits-section-image {
    margin-left: 47px;
    margin-right: 47px;
}

.fruits-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 48px;
    color: #AE1332;
    background-color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.72px;
    border-radius: 200px; 
    margin-top: 0; 
    margin-left: 24px;
    margin-bottom: 24px; 
}

.strawberry {
    background-color: #F8766B;
}

.banana {
    background-color: #EDD251;
}

.watermelon {
    background-color: #9DC262;
}

.lime {
    background-color: #BFD663;
}

.apple {
    background-color: #E93F29;
}

.peach {
    background-color: #DB4F4B;
}

.plum {
    background-color: #9B5366;
}

.orange {
    background-color: #F47F4C;
}

.kiwi {
    background-color: #98B37E;
}

.order-button {
    display: flex;
    background-color: #9DC262;
    padding: 38px 18px;
    font-family: inherit;
    color: #FFFFFF;
    fill: #FFFFFF;
    border-radius: 100%;
    border-color: transparent;
    margin: auto;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.72px;
    justify-content: center;
    align-items: center;
    transform: rotate(-20deg);
}

.button-svg {
    margin-right: 4px;
}

.order-button:hover {
    cursor: pointer;
    fill: #9DC262;
    color: #9DC262;
    background-color: #FFF;
}

// RESPONSIVENESS

@media (max-width:768px) {
    .container {
        width: 768px;
    }

    .fruits-section-item {
        flex-basis: calc(100% / 2 - 16px);
        width: 340px;
    }

    .kiwi {
        display: none;
    }
}

@media (max-width:375px) {
    
}
