<footer class="footer">
    <div class="footer1">
        <div class="footer1a">
            <img src="images/girl-banana-background.png" alt="girl-footer" width="349">
            <div class="footer-pictext">
                <img src="images/logo.svg" alt="logo">
                <span class="logo-text">FRESH HARVEST BOX</span>
            </div>
        </div>
        <div class="footer1b">
            <ul class="footer-list">
                <li>How It Works</li>
                <li>Fruits</li>
                <li>Contacts</li>
            </ul>
        </div>
    </div>
    <div class="footer2">
        <div class="footer-right">
            <a class="icons-a"><svg width="28" height="28">
                    <use href="images/icons.svg#facebook"></use>
                </svg></a>
            <a class="icons-a"><svg width="28" height="28">
                    <use href="images/icons.svg#instagram"></use>
                </svg></a>
            <a class="icons-a"><svg width="28" height="28">
                    <use href="images/icons.svg#youtube"></use>
                </svg></a>
        </div>
        <div>
            <ul class="contacts">
                <li><a href="tel:++380 (68) 443-94-26">+380 (68) 443-94-26</a></li>
                <li>1678 S. Pioneer Road<br>Salt Lake City<br>UT 84104
                </li>
            </ul>
        </div>
    </div>
</footer>