<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h3>ORGANIC FRUITS</h3>
        <p>
            Our organic fruits are hand-    picked from local farms and delivered straight to your doorstep, <br> 
            ensuring that you get the freshest and most nutritious produce possible. We offer a wide <br> 
            selection of organic fruits grown without the use of harmful pesticides or chemicals.
        </p>
        <ul>
            <li>

            </li>
        </ul>
    </section>
</body>
</html>