<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- FRUITS SECTION -->
    <section class="fruits-section">
        <h3 class="fruits-section-header">ORGANIC FRUITS</h3>
        <p class="fruits-section-description">
            Our organic fruits are hand-picked from local farms and delivered straight to your doorstep, <br> 
            ensuring that you get the freshest and most nutritious produce possible. We offer a wide <br> 
            selection of organic fruits grown without the use of harmful pesticides or chemicals.
        </p>
        <ul class="fruits-section-list">
            <li class="fruits-section-item">
                <h4>Strawberry</h4>
                <p>Plant</p>
                <img
                src="images/strawberry.jpg"
                alt="strawberry"
              />
              <p class="fruits-price">100 UAH / kg</p>
            </li>
            <li class="fruits-section-item">
                <h4>Banana</h4>
                <p>Plant</p>
                <img
                src="./images/banana.jpg"
                alt="banana"
              />
              <p class="fruits-price">80 UAH / kg</p>
            </li>
            <li class="fruits-section-item">
                <h4>Watermelon</h4>
                <p>Plant</p>
                <img
                src="images/watermelon.jpg"
                alt="watermelon"
              />
              <p class="fruits-price">40 UAH / kg</p>
            </li>
            <li class="fruits-section-item">
                <h4>Lime</h4>
                <p>Plant</p>
                <img
                src="images/lime.jpg"
                alt="lime"
              />
              <p class="fruits-price">60 UAH / kg</p>
            </li>
            <li class="fruits-section-item">
                <h4>Apple</h4>
                <p>Plant</p>
                <img
                src="images/apple.jpg"
                alt="apple"
              />
              <p class="fruits-price">50 UAH / kg</p>
            </li>
            <li class="fruits-section-item">
                <h4>Peach</h4>
                <p>Plant</p>
                <img
                src="images/peach.jpg"
                alt="peach"
              />
              <p class="fruits-price">80 UAH / kg</p>
            </li>
            <li class="fruits-section-item">
                <h4>Plums</h4>
                <p>Plant</p>
                <img
                src="images/plum.jpg"
                alt="plum"
              />
              <p class="fruits-price">40 UAH / kg</p>
            </li>
            <li class="fruits-section-item">
                <h4>Orange</h4>
                <p>Plant</p>
                <img
                src="images/orange.jpg"
                alt="orange"
              />
              <p class="fruits-price">60 UAH / kg</p>
            </li>
            <li class="fruits-section-item">
                <h4>Kiwi</h4>
                <p>Plant</p>
                <img
                src="images/kiwi.jpg"
                alt="kiwi"
              />
              <p class="fruits-price">90 UAH / kg</p>
            </li>
        </ul>
        <button type="button" class="order-button">
          <svg class="button-svg" width="14" height="14">
            <use href="images/icons.svg#arrow"></use>
          </svg> 
        Order</button>
    </section>
</body>
</html>