<!DOCTYPE html>
<html lang="en">
<body>
    <!-- FRUITS SECTION -->
    <section class="fruits-section">
        <h3 class="fruits-section-header">ORGANIC FRUITS</h3>
        <p class="fruits-section-description">
            Our organic fruits are hand-picked from local farms and delivered straight to your doorstep, <br> 
            ensuring that you get the freshest and most nutritious produce possible. We offer a wide <br> 
            selection of organic fruits grown without the use of harmful pesticides or chemicals.
        </p>
        <div class="container">
        <ul class="fruits-section-list list d-flex">
            <li class="fruits-section-item strawberry">
              <div class="item-description">
                <h4 class="fruit-name">Strawberry</h4>
                <p class="fruit-description">Plant</p>
              </div>
                <img class="fruits-section-image"
                src="./images/strawberry.png"
                alt="strawberry"
                width="295"
              />
              <p class="fruits-price">100 UAH / kg</p>
            </li>
            <li class="fruits-section-item banana">
              <div class="item-description">
                <h4 class="fruit-name">Banana</h4>
                <p class="fruit-description">Plant</p>
              </div>
                <img class="fruits-section-image"
                src="./images/banana.png"
                alt="banana"
                width="295"
              />
              <p class="fruits-price">80 UAH / kg</p>
            </li>
            <li class="fruits-section-item watermelon">
              <div class="item-description">
                <h4 class="fruit-name">Watermelon</h4>
                <p class="fruit-description">Plant</p>
              </div>
                <img class="fruits-section-image"
                src="./images/watermelon.png"
                alt="watermelon"
                width="295"
              />
              <p class="fruits-price">40 UAH / kg</p>
            </li>
            <li class="fruits-section-item lime">
              <div class="item-description">
                <h4 class="fruit-name">Lime</h4>
                <p class="fruit-description">Plant</p>
              </div>
                <img class="fruits-section-image"
                src="./images/lime.png"
                alt="lime"
                width="295"
              />
              <p class="fruits-price">60 UAH / kg</p>
            </li>
            <li class="fruits-section-item apple">
              <div class="item-description">
                <h4 class="fruit-name">Apple</h4>
                <p class="fruit-description">Plant</p>
              </div>
                <img class="fruits-section-image"
                src="./images/apple.png"
                alt="apple"
                width="295"
              />
              <p class="fruits-price">50 UAH / kg</p>
            </li>
            <li class="fruits-section-item peach">
              <div class="item-description">
                <h4 class="fruit-name">Peach</h4>
                <p class="fruit-description">Plant</p>
              </div>
                <img class="fruits-section-image"
                src="./images/peach.png"
                alt="peach"
                width="295"
              />
              <p class="fruits-price">80 UAH / kg</p>
            </li>
            <li class="fruits-section-item plum">
              <div class="item-description">
                <h4 class="fruit-name">Plums</h4>
                <p class="fruit-description">Plant</p>
              </div>
                <img class="fruits-section-image"
                src="./images/plum.png"
                alt="plum"
                width="295"
              />
              <p class="fruits-price">40 UAH / kg</p>
            </li>
            <li class="fruits-section-item orange">
              <div class="item-description">
                <h4 class="fruit-name">Orange</h4>
                <p class="fruit-description">Plant</p>
              </div>
                <img class="fruits-section-image"
                src="./images/orange.png"
                alt="orange"
                width="295"
              />
              <p class="fruits-price">60 UAH / kg</p>
            </li>
            <li class="fruits-section-item kiwi">
              <div class="item-description">
                <h4 class="fruit-name">Kiwi</h4>
                <p class="fruit-description">Plant</p>
              </div>
                <img class="fruits-section-image"
                src="./images/kiwi.png"
                alt="kiwi"
                width="295"
              />
              <p class="fruits-price">90 UAH / kg</p>
            </li>
        </ul>
        </div>
        <button type="button" class="order-button">
          <svg class="button-svg" width="14" height="14">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        ORDER</button>
    </section>
</body>
</html>