<!DOCTYPE html>
<html lang="en">
<body>
    <div class="nav">
        <div class="big-screen-nav-list">
            <div class="big-screen-nav-list-item">
                <a href="#">How It Works</a>
            </div>
            <div class="big-screen-nav-list-item">
                <a href="./partials/fruitssection.html">Fruits</a>
            </div>
            <div class="big-screen-nav-list-item">
                <a href="#">Contacts</a>
            </div>
        </div>
        <div class="logo-section">
            <div class="logo">
                <img class="logo-icon" src="../images/logo.svg" alt="logo" /> 
                <span class="logo-text">FRESH HARVEST BOX</span>
            </div>
        </div>
        <div class="menu-actions">
            <img class="hamburger-icon" src="../images/hamburger.svg" alt="hamburger" onclick="toggleMenu()" />
            <img class="close-icon" src="../images/close.svg" alt="close" onclick="toggleMenu()" />
            <a href="#"><img class="bag-icon" src="../images/bag.svg" alt="bag" /></a>
        </div>
    </div>

    <div class="small-screen-nav-list-wrapper">
        <div class="small-screen-nav-list">
            <div class="small-screen-nav-list-item">
                <a href="#">How It Works</a>
            </div>
            <div class="small-screen-nav-list-item">
                <a href="#">Fruits</a>`
            </div>
            <div class="small-screen-nav-list-item">
                <a href="#">Contacts</a>
            </div>
            <div class="small-screen-nav-list-item">
                <a href="#"><img class="small-screen-bag-icon" src="../images/bag.svg" alt="bag" /></a>
            </div>
        </div>
    </div>
</body>
</html>