<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap" rel="stylesheet">
    
    <title>Team Project</title>

</head>

<body>
    <div class="hero-section">
        <div class="tagline-container">
            <div class="tagline">
                <p class="line1">fresh harvest box</p>
                <p class="line2">is your one-stop place for</p>
                <p class="line3">a delicious fruit basket</p>
            </div>

            <div class="tagline_smallerscreen">
                <p>fresh harvest box <br>
                    is your one-stop place <br>for a delicious fruit <br>basket</p>
            </div>

            <img class="strawberry_blurred" src="images/strawberry_blurred.png" alt="strawberry_blurred">
            
            <img class="banana_blurred" src="images/banana_blurred.png" alt="banana_blurred">
            
            <div class="orangegirl_container">
                <div class="orange_girl">
                    <img class="center_orange_girl" src="images/orange_girl.png" alt="orange_girl">
                    
                    <img class="orangegirl_outline" src="images/orangegirl_outline.png" alt="orange_girl_outline">
                    
                    <img class="orangegirl_smallerscreen" src="images/orange_girl_smallerscreen.png" alt="smaller orangegirl">

                    <div class="shop_now">
                        <p>shop now</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="aside_left_container">
            <div class="aside_left">
                <p>Our expertly curated fruit baskets are made with the freshest, highest quality fruits available. Whether you are looking for a healthy snack or a gift for a loved one, Fresh Harvest Box has got you covered.</p>
            </div>

            <div class="aside_left_greenbox">
                <p class="fruit1">Fruit</p>

                <img class="watermelon_left" src="images/watermelon.png" alt="watermelon">

                <img class="watermelon_shadow" src="images/Oval.png" alt="watermelon_shadow">

                <p class="refreshing_text">Refreshing and juicy, watermelon is the perfect summer treat and a great source of hydration</p>
                </div>
        </div>

        <div class="aside_right_container">
            <div class="aside_right_yellowbox">
                <p class="fruit2">Fruit</p>

                <img class="strawberry_basket_right" src="images/strawberry_basket_right.png" alt="">

                <img class="strawberry_basket_shadow" src="images/Oval.png" alt="watermelon_shadow">

                <p class="sweet_juicy">Sweet and juicy, strawberries are packed with vitamin C and antioxidants, making them a delicious and healthy snack</p>
            </div>

            <div class="hero_hastags">
                <div class="tags" id="organic"><p>#organic</p></div>
            <div class="tags" id="products"><p>#products</p></div>
            <div class="tags" id="basket"><p>#basket</p></div>
            <div class="tags" id="fruits"><p>#fruits</p></div>
            </div>
        </div>
        
    </div>
    
</body>
</html>