<section class="how-section">
  <div class="how-header">
    TO ORDER YOUR FRUIT BASKET, <br class="break-point" />SIMPLY FOLLOW THESE
    EASY STEPS
  </div>
  <div class="how-header-content">
    Our baskets are assembled with care and delivered straight to your doorstep,
    so you can enjoy the taste of fresh fruit without ever leaving your home.
    Whether you're looking for a healthy snack or a thoughtful gift, our fruit
    baskets are the perfect choice.
  </div>
  <div class="step-wrapper">
    <div class="step-container">
      <div class="step-button first">First Step</div>
      <div class="step-content">
        Just choose the fruit you want to order by clicking on the checkboxes
        next to it.
      </div>
    </div>
    <div class="step-container">
      <div class="step-button second">Second Step</div>
      <div class="step-content">Click on the basket and fill out the form.</div>
    </div>
    <div class="step-container">
      <div class="step-button third">Third Step</div>
      <div class="step-content">
        Sit back and relax! Your fresh fruit basket will be delivered.
      </div>
    </div>
  </div>
  <div class="gif-container">
    <img
      class="fruit-gif"
      src="./images/fresh-harvest-box.gif"
      alt="fresh harvest box gif"
    />
  </div>
</section>
