<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="sendemail-section">
        <div class="sendemail-container">
            <p class="p1">Fresh Harvest Box has got you covered</p>
            <div class="images-container">
            <div class="responsive-image">
                <img src="./images/cantaloupe.jpg" alt="cantaloupe" class="img1">
            </div>
                <img src="./images/berries.jpg" alt="berries" class="img2">
            </div>
            <p class="p2">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for <br> anyone
                looking to eat healthier or support local farmers. Order your box today and <br> start enjoying the best
                that nature has to offer!</p>
            <div class="textbox-container">
                <input type="text" placeholder="Enter email..." class="textbox">
                <button class="send-button">Send</button>
            </div>
        </div>
    </section>
</body>
</html>