<body>
    <div class="container">
        <p class="p1">Fresh Harvest Box has <br> got you covered</p>
        <div class="images-container">
            <img src="/src/images/cantaloupe.jpg" alt="Image 1" class="img1">
            <img src="/src/images/berries.jpg" alt="Image 2" class="img2">
        </div>
        <p class="p2">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for <br> anyone
            looking to eat healthier or support local farmers. Order your box today and <br> start enjoying the best
            that nature has to offer!</p>
        <div class="textbox-container">
            <input type="text" placeholder="Enter email..." class="textbox">
            <button class="send-button">Send</button>
        </div>
    </div>
</body>